<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <targets>
    <target name="logFile" xsi:type="File" fileName="${var:LogPath}\cur.log" layout="[${level:uppercase=true}][${date:format=dd.MM.yyyy HH\:mm\:ss}]: ${message} ${exception:format=tostring}" archiveEvery="Day" archiveNumbering="Date" archiveFileName="${var:LogArchivePath}\log.{#}.zip" archiveDateFormat="dd.MM.yyyy" enableArchiveFileCompression="True" keepFileOpen="True" ConcurrentWrites="False" openFileCacheTimeout="30" autoFlush="False" openFileFlushTimeout="1" maxArchiveFiles="30" />
    <target name="logConsole" xsi:type="ConsoleTarget" layout="[${level:uppercase=true}][${date:format=dd.MM.yyyy HH\:mm\:ss}]: ${message} ${exception:format=tostring}"/>
    <target name="logWindowsLogChannel" xsi:type="WindowsLogChannel" layout="[${level:uppercase=true}][${date:format=dd.MM.yyyy HH\:mm\:ss}]: ${message} ${exception:format=tostring}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logFile" />
    <logger name="*" minlevel="Trace" writeTo="logConsole" />
    <logger name="*" minlevel="Trace" writeTo="logWindowsLogChannel" />
  </rules>
</nlog>
